/*
		Skin Name: Night Sky (responsive)
		Skin Download: http://artphilia.de
		Description: This is a grid based responsive layout.
		Author: Nadia Volkrodt
		Author E-Mail: nadia@artphilia.de
*/


/* import fonts */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300|Crushed:400);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css); 

/* import basic settings, IE-fixes and grids */
@import url(base.css);

/*---------------------------------------------------------------------
   Basic styles
------------------------------------------------------------------------*/
html, body { 
	height: 100%;
	}            

body { 
	background-color: #1A1D27;
	text-align: justify;
	font-family: 'Raleway', Tahoma, sans-serif;
	font-size: 11pt;
	color: #B9C4AA;
	margin: 15px 0;
	padding: 0;
	}

table { 
	text-align: justify;
	}
tr:nth-child(odd) {
	background-color: transparent;
	padding: 6px;
	}
tr:nth-child(even), td:nth-child(even) {
	background-color: transparent;
	padding: 6px;
	}

ul li {
	list-style-type: none;
	}
a, a:active, a:visited {
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
	color: #70869B;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	}
a:hover {
	color: #B9C4AA;
	text-decoration: none;
	background-color: transparent;
	}

h1 {
  border-bottom: 1px solid #36424a;
  color: #5f6a72;
	font-family: 'Crushed', cursive;
	font-size: 26pt;
	font-weight: normal;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
}
h1 span {
  background-color: #1A1D27;
  padding: 0 15px;
  position: relative;
  top: 20px;
}
h2  {
	color: #5f6a72;
	font-family: 'Crushed', cursive;
	font-size: 22pt;
	font-weight: normal;
	padding: 5px 0;
	}
h3 {
	background-color: transparent;
	font-family: 'Crushed', sans-serif;
	font-size: 18pt;
	text-align: center;
	margin: 0;
	padding: 5px 10px; 
	color: #5f6a72;
	font-weight: normal;
	text-transform: normal;
	background-color: #13161d;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	}
h4, #pagetitle, .sectionheader {
	font-size: 16pt;
	font-family: 'Crushed', cursive;
	font-weight: normal;
	padding: 10px 0; 
	color: #828a8f;
}
		
/*---------------------------------------------------------------------
   General page alignment and width
------------------------------------------------------------------------*/

#header {
	padding: 10px;
	border-bottom: 1px solid #36424a;
}

.container {
	background-color: transparent;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.content {
	text-align: justify;
	font-style: normal;
	}

.sidebar {
	font-style: normal;
	text-align: justify;
	background-color: transparent;
	border-left: 1px solid #36424a;
	padding: 10px;
	}

.footer {
	border-top: 1px solid #36424a;
	text-align: center;
	margin-top: 20px;
	padding: 10px;
	}

/*---------------------------------------------------------------------
   General page alignment and width
------------------------------------------------------------------------*/


.label, label {
	color: #B9C4AA;
	font-weight: bold;
}

hr {
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #faf2db;
	padding: 4px;
	height: 1px;
}

input, textarea, select {
	background-color: #13161d;
	border: 1px solid #36424a;
	font-family: 'Raleway', Tahoma, sans-serif;
	font-size: 10pt;
	color: #828a8f;
	margin: 2px;
	padding: 2px 6px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.button, .button a {
	margin: 0 auto;
	text-align: center;
	text-transform: none;
	margin: 2px;
	padding: 2px 6px;
	cursor: pointer;
	background-color: #13161d;
	border: 1px solid #36424a;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #828a8f;
}

blockquote {
	margin: 10px auto;
	padding: 15px;
	width: 90%;
	border-width: 1px 0;
	border-style: solid;
	border-color: #36424a;
}

/*---------------------------------------------------------------------
  Style of story list
------------------------------------------------------------------------*/
.even, .odd, .comment {
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding: 5px;
}
.even:hover, .odd:hover {
	background-color: transparent;
}

/*---------------------------------------------------------------------
   News
------------------------------------------------------------------------*/
#newsarchive, #sortform, .respond {
	text-align: center;
	}
#newsbox {
	background-position: top left;
	background-image: url();
	background-repeat: no-repeat;
	margin: 0 auto;
	padding: 20px;
	}
.newscom {
	background-color: transparent;
	font-weight: normal;
  text-align: right;
  font-family: 'Raleway', Tahoma, sans-serif;
  font-size: 20px;
	padding: 0;
	margin: 0;
	}
.newssig {
	font-family: 'Raleway', Tahoma, sans-serif;
	font-style: none;
	font-size: 9pt;
	}

/*---------------------------------------------------------------------
   Categories
------------------------------------------------------------------------*/	
.category {
	text-align: left;
	width: 75%;
	margin: 0 auto;
	}
.catimg {
	float: left;
	padding: 3px 6px 3px 0;
	}
.cat_description { 
	padding: 5px;
	text-align: left;
	}
	
/*---------------------------------------------------------------------
  Page links
------------------------------------------------------------------------*/
#pagelinks {
	width: 100%;
	text-align: center;
	padding: 1em;
	font-family: 'Crushed', cursive;
	font-size: 16pt;
	}
#pagelinks a {
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	}
#pagelinks a:hover {
	text-decoration: none;
	background-color: transparent;
	}
a#currentpage {
	color: #B9C4AA;
	background-color: transparent;
	}
/*---------------------------------------------------------------------
   Misc Styles, used in multiple places throughout the page
------------------------------------------------------------------------*/		
#alphabet { 
	text-align: center; 
	padding: 5px; 
	font-family: 'Raleway', Tahoma, sans-serif;
	font-size: 20px;
	}
#jumpmenu {
	text-align: right;
	}
#story {
	padding: 50px 10px;
	text-align: justify;
	}
#login {
	margin: 0;
	}
#columncontainer {
	width: 90%;
	text-align: justify;
}
.column, #columncontainer a {
	font-family: 'Raleway', Tahoma, sans-serif;
	font-size: 18px;
	}
.copyright {
	padding: 5px 0;
	text-transform: uppercase;
	font-size: 9pt;
}

/*---------------------------------------------------------------------
  MENU
------------------------------------------------------------------------*/
#menu { 
	width: 100%;
	}
#menu ul {
	background: transparent;
	margin: 10px 0 -4px 0;
	text-align: right;
	}
#menu li {
	display: inline;
	padding: 6px 16px;
	margin: 1px;
	background-color: #13161d;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}
#menu li:hover {
	background-color: transparent;
}
#menu a {
	font-family: 'Crushed', cursive;
	font-size: 11pt;
	font-style: normal;
	letter-spacing: 1px;
	text-align: justify;
	text-transform: none;
	color: #70869B;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#menu a:hover {
	color: #5f6a72;
}

/*---------------------------------------------------------------------
  SITE NAME / SLOGAN
------------------------------------------------------------------------*/
#sitename {
	color: #828a8f;
	font-family: 'Crushed', cursive;
	font-size: 32pt;
	text-shadow: 0 0 2px #222;
	padding-top: 20px;
}
#slogan {
	color: #70869B;
	font-family: 'Raleway', Tahoma, sans-serif;
	font-size: 10pt;
	text-transform: none;
	font-style: italic;
	margin: -10px 0 0 50px;
	padding-bottom: 20px;
}