/*
		Skin Name: Frosted (responsive)
		Skin Download: http://artphilia.de
		Description: This is a grid based responsive layout.
		Author: Nadia Volkrodt
		Author E-Mail: nadia@artphilia.de
*/


/* import fonts */
@import url(<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">:400,300,300italic,400italic,600,600italic,700,700italic|Fredericka+the+Great:400);
@import url(https://use.fontawesome.com/releases/v5.3.1/css/all.css);

/* import basic settings, IE-fixes and grids */
@import url(base.css);

/*---------------------------------------------------------------------
   Basic styles
------------------------------------------------------------------------*/
html {
	height: 100%;
	margin: 0;
	padding: 0;
	}

body {
	background-color: #FBFBFC;
	background-image: url();
	background-repeat: repeat;
	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-size: 10.5pt;
	font-weight: 400;
	margin-left: auto;
	margin-right: auto;
	max-width: 1250px;
}

table {
	text-align: justify;
	}

tr:nth-child(odd) {
	background-color: transparent;
	padding: 6px;
	}

tr:nth-child(even), td:nth-child(even) {
	background-color: transparent;
	padding: 6px;
	}

hr.style1 {
	border: 0;
	height: 0;
	margin: 0;
}

hr.style2 {
	border: 0;
	height: 0;
	margin: 3px;
}

hr.style3 {
	border: 0 none;
}

hr.style4 {
	height: 2px;
	margin: 15px 0;
	background: #ffdc5a, rgba(0,0,0,0));
	background: -moz-linear-gradient(left, rgba(0,0,0,0), #ffdc5a, rgba(0,0,0,0));
	background: -o-linear-gradient(left, rgba(0,0,0,0), #ffdc5a, rgba(0,0,0,0));
	background: linear-gradient(left, rgba(0,0,0,0), #ffdc5a, rgba(0,0,0,0));
}

hr.style5 {
	border: 0;
	height: 2px;
	margin: 15px 30px;
	background: #f29f3d;
}

ul li {
	list-style-type: none;
	}
a, a:active, a:visited {
	color: #df4d3c;
	font-family: 'Roboto', sans-serif;
	font-weight: 550;
	padding: 2px 3px;
	text-decoration: none;
	text-transform: none;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
	}

a:hover {
	background-color: transparent;
	color: #df4d3c;
	}

	h1 {
		color: #df4d3c;
		font-family: 'Roboto', sans-serif;
		font-size: 21pt;
		font-weight: 550px;
		margin-bottom: 25px;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		}

	h1 span {
		background-color: transparent;
		border-width: 3px;
		border-color: #df4d3c;
		padding: 10px 10px;
		margin: 5px;
		position: relative;
		top: 10px;
		}

	h2, #pagetitle, .sectionheader {
		color: #da8827;
		font-size: 22pt;
		font-weight: 600;
		text-align: center;
		padding: 5px 0;
		}

	h3 {
		border-top: 2.5px solid #ffdc5a;
		color: #f29f3d;
		font-family: 'Roboto', sans-serif;
		font-size: 12pt;
		font-weight: 500;
		padding: 10px 0 5px 0;
		text-align: center;
		text-transform: uppercase;
		}

	h3 a {
		font-size: 14pt;
		text-transform: uppercase;
	}

	h4  {
		color: #df4d3c;
		font-size: 14pt;
		font-family: 'Roboto', sans-serif;
		font-weight: 600;
		padding: 0 0 10px 0;
		text-align: left;
		text-transform: uppercase;
		}

	h5 {
		color: #df4d3c;
		display:block;
		font-family: 'Roboto', sans-serif;
		font-size: 10pt;
		font-weight: 550;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	h6 {
		color: #df4d3c;
		display:block;
		font-family: 'Roboto', sans-serif;
		font-size: 10pt;
		font-weight: 550;
		letter-spacing: 1px;
		text-transform: uppercase;
		-webkit-transition: 0s;
		-moz-transition: 0s;
		transition: 0s;
	}

	h7 {
		color: #18191D;
		font-size: 14px;
		font-weight: 550;
		letter-spacing: 0px;
		text-align: center;
	}

	h8 {
		color: #f29f3d;
		font-family: 'Roboto', sans-serif;
		font-size: 15pt;
		font-weight: 600;
		padding: 5px 5px;
		text-align: center;
		text-transform: uppercase;
}


/*---------------------------------------------------------------------
   General page alignment and width
------------------------------------------------------------------------*/

#header {
	background-image: url();
	background-repeat: no-repeat;
	border-left: 2px solid #ffdc5a;
	border-right: 2px solid #ffdc5a;
	margin: 0 auto;
	padding: 20px 0px 0px 0px;
	}

.container {
	margin-bottom: 20px;
	padding: 10px 20px;
	}

.content {
	border-left: 2px solid #ffdc5a;
	border-right: 2px solid #ffdc5a;
	font-style: normal;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 30px;
	text-align: left;
	max-width: 1250px;
	}

.login {
	float: center;
	margin: 0;
	padding: 10px 10px;
	text-align: center;
	}

.search {
	float: right;
	margin: 0;
	padding: 5px 10px;
	}

.sidebar {
	font-style: normal;
	margin: 25px 0 25px 0;
	text-align: justify;
	}

.footer {
	font-family: 'Roboto', sans-serif;
	margin-top: 20px;
	padding: 10px;
	text-align: center;
	}

#spacer {
	border-top: 5px solid #df4d3d;
	margin: 0 auto;
	width: 400px;
	}

/*---------------------------------------------------------------------
	  MENU
------------------------------------------------------------------------*/

.toggle,
[id^=drop] {
	display: none;
}

nav {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	padding: 0;
	position: relative;
	width: 100%;
	}

nav a {
	display:block;
	font-family: 'Roboto', sans-serif;
	font-size: 10pt;
	font-weight: 550;
	letter-spacing: 1px;
	padding: 8px 16px;
	text-transform: uppercase;
	-webkit-transition: 0s;
	-moz-transition: 0s;
	transition: 0s;
}

nav a:hover {
	display:block;
	font-family: 'Roboto', sans-serif;
	font-size: 10pt;
	font-weight: 550;
	letter-spacing: 1px;
	padding: 8px 16px;
	text-transform: uppercase;
	-webkit-transition: 0s;
	-moz-transition: 0s;
	transition: 0s;
}

nav:after {
	clear:both;
	content:"";
	display:table;
	text-transform: uppercase;
	}

nav ul {
	background-color: #ffdc5a;
	padding:4px 2px;
	text-align: center;
	}

nav ul li {
	border-bottom: 2px solid transparent;
	display:inline-table;
	margin: 5px 3px;
	text-align: left;
	}

nav ul ul:hover {
	background-color: #FBFBFC;
}

nav ul ul {
	display: none;
	position: absolute;
	top: 36px;
}

nav ul li:hover > ul {
	background-color: #FBFBFC;
	border-bottom: 2px solid #ffdc5a;
	display:inherit;
}

nav ul ul li {
	background-color: #FBFBFC;
	display: list-item;
	position: relative;
}

nav ul li ul li:hover {
	background: #ffdc5a;
}

nav ul li ul li a {
	display:block;
	font-family: 'Roboto', sans-serif;
	font-size: 10pt;
	font-weight: 550;
	letter-spacing: 1px;
	padding: 8px 16px;
	text-transform: uppercase;
	-webkit-transition: 0s;
	-moz-transition: 0s;
	transition: 0s;
}

.login li {
	border-bottom: 2px solid transparent;
	display: block;
	margin: 0 3px;
	padding: 8px 16px;
}

li > a:after { content: }
li > a:only-child:after { content: ''; }

	/*---------------------------------------------------------------------
	   General page alignment and width
	------------------------------------------------------------------------*/

	.label, label {
		font-weight: bold;
		text-align: center;
		}

	input, textarea, select {
		background-color: #FCFCFB;
		border: 2px solid #f29f3d;
		color: #000000;
		font-family: 'Roboto', sans-serif;
		font-size: 10pt;
		margin: 2px;
		padding: 4px 6px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
	}
	.button, .button a {
		background-color: #f29f3d;
		border: 1px solid #f29f3d;
		color: #272727;
		cursor: pointer;
		font-family: 'Roboto', sans-serif;
		font-size: 10pt;
		margin: 0 auto;
		padding: 4px 6px;
		text-align: center;
		text-transform: none;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
	}

	blockquote {
		background-color: #ffdc5a;
		border: 1px solid #272727;
		color: #df4d3c;
		margin: 10px auto;
		padding: 15px;
		width: 90%;
		}

	#sitename {
		color: #df4d3c;
		font-family: 'Roboto', sans-serif;
		font-size: 36pt;
		font-weight: bold;
		padding: 7px 0px;
		text-align: center;
		text-transform: uppercase;
	}
	#siteslogan {
		color: #da8827;
		font-family: 'Roboto', sans-serif;
		font-size: 15pt;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
	}

	/*---------------------------------------------------------------------
	  Style of story list
	------------------------------------------------------------------------*/
	.even, .odd, .comment {
		margin-top: 0;
		margin-right: auto;
		margin-bottom: 0;
		margin-left: auto;
		padding: 5px;
	}
	.even:hover, .odd:hover {
		background-position: top center;
		background-image: url();
		background-repeat: no-repeat;
	}

	/*---------------------------------------------------------------------
		 Newsbox
	------------------------------------------------------------------------*/

	#newsarchive {
		float: center;
		padding: 15px 0px;
		text-align: center;
		width: 100%;
		}

	#newsarchive, #sortform, .respond {
		margin: 20px 0;
		text-align: center;
	}

	#newsarchive ul {
		padding: 10px 2px;
		text-align: center;
		}

	#newsarchive li {
		background-color: #FBFBFC;
		display: inline;
		float: center;
		margin: 0 3px;
		padding: 4px 8px;
		}

	#newsarchive li:hover {
		background-color: #ffdc5a;
		padding: 4px 8px;
		}

	#newsarchive a {
		color: #df4d3c;
		font-family: 'Roboto', sans-serif;
		font-size: 10pt;
		font-weight: 600;
		letter-spacing: 1px;
		text-transform: uppercase;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		transition: 1s;
		}

	#newsbox {
		background-position: top center;
		background-image: url();
		background-repeat: no-repeat;
		margin: 0 auto;
		padding: 0px 10px;
		}

		.newscom {
			background-color: transparent;
		  font-family: 'Roboto', sans-serif;
		  font-size: 16pt;
			font-weight: normal;
			margin: 0;
			padding: 0;
			text-align: right;
			}

		.newssig {
			font-family: 'Roboto', sans-serif;
			font-size: 9pt;
			font-style: none;
			margin: 0px 0 10px 0;
			padding: 3px 0;
			text-align: center;
		}

	/*---------------------------------------------------------------------
	   Categories
	------------------------------------------------------------------------*/
	.category {
		margin: 0 auto;
		text-align: left;
		width: 75%;
		}
	.catimg {
		float: left;
		padding: 3px 6px 3px 0;
		}
	.cat_description {
		padding: 5px;
		text-align: left;
		}

	/*---------------------------------------------------------------------
	  Page links / Alphabet
	------------------------------------------------------------------------*/
	#pagelinks, #alphabet {
		height: 1px;
		margin: 5px 0;
		text-align: center;
		width: 100%;
		}
	#pagelinks a, #alphabet a {
		font-weight: normal;
		padding: 0 4px;
		text-decoration: none;
		text-transform: none;
		font-size: 11pt;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		transition: 1s;
		}
	#pagelinks a:hover, #alphabet a:hover {
		background-color: transparent;
		border-top: 1px solid #E5E1E1;
		color: #df4d3c;
		text-decoration: none;
		}
	a#currentpage {
		background-color: #transparent;
		border-top: 1px solid #e9e9e9;
		color: #df4d3c;
		font-weight: 700;
		}

	/*---------------------------------------------------------------------
	   Misc Styles, used in multiple places throughout the page
	------------------------------------------------------------------------*/

	#jumpmenu {
		text-align: right;
		}
	#story {
		padding: 50px 10px;
		text-align: justify;
		}
	#login {
		margin: 0;
		}
	#columncontainer {
		text-align: justify;
		width: 90%;
	}
	.column, #columncontainer a {
		font-size: 13pt;
		}
	.copyright {
		font-size: 9pt;
		padding: 5px 0;
		text-transform: uppercase;
	}
	#memberblock {
		margin-top: 25px;
	}

	/*---------------------------------------------------------------------
	  FIELDSET
	------------------------------------------------------------------------*/

	fieldset {
		background-color: transparent;
		background-image: url();
		border: 1px solid #272727;
		margin: 5px 10px;
		padding: 6px;
		text-align: left;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
	}
	legend {
		border: 0 solid #272727;
		background-color: transparent;
		margin: 0 0 0 30px;
		padding: 6px;
		text-transform: uppercase;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
	}

	/*---------------------------------------------------------------------
	 RESPONSIVE
	------------------------------------------------------------------------*/

	@media only screen and (min-device-width: 768px) and (max-width : 1024px) {

		body {
			font-size: 13pt;
			padding: 0;
			width: 100%;
		}

		h3 {
			font-size: 13pt;
			}

		h5 {
			font-size: 13pt;
			text-align: center;
		}

		h6 {
			color: #df4d3c;
			font-size: 12pt;
			text-align: center;
		}

		h7 {
			font-size: 13pt;
		}

		#header {
			border-left: transparent;
			border-right: transparent;
		}

		.content {
			border-left: transparent;
			border-right: transparent;
			padding: 20px;
			}

		nav {
			margin: 0;
			width: 100%;
		}

		.toggle + a,
		.menu {
			background-color: #ffdc5a;
			color: #df4d3c;
			display: none;
			padding: 8px 16px;
			width: 100%;
		}

		.toggle {
			background-color: #ffdc5a;
			border:none;
			color:#df4d3c;
			display: block;
			font-size:11px;
			padding: 8px 16px;
			text-align: left;
			text-decoration:none;
			width: 100%;
		}

		.toggle:hover {
			background-color: #ffdc5a;
		}

		[id^=drop]:checked + ul {
			background-color: #ffdc5a;
			display: block;
		}

		nav ul li {
			display: block;
			width: 100%;
			}

		nav ul ul .toggle,
		nav ul ul a {
			margin: -2px;
			padding: 0px;
		}

		nav ul ul ul a {
			padding: 0 30px;
		}

		nav a:hover,
		 	nav ul ul ul a {
				background-color: #ffdc5a;
			}

		nav ul li ul li .toggle,
		nav ul ul a,
	  nav ul ul ul a{
			color:#df4d3c;
			font-size:17px;
			padding: 0;
		}


		nav ul li ul li .toggle,
		nav ul ul a {
			background-color: #ffdc5a;
		}

		nav ul ul {
			color: #df4d3c;
			float: none;
			position:static;
		}

		nav ul ul li:hover > ul,
		nav ul li:hover > ul {
			background-color: #ffdc5a
			border-bottom: 2.5px solid #ffdc5a;
			display: none;
		}

		nav ul ul li {
			background-color: #ffdc5a;
			display: block;
			width: 100%;
		}

		nav ul ul ul li {
			position: static;
		}
	}

	@media only screen and (min-device-width: 320px) and (max-device-width: 767px)  {

		body {
			font-size: 14pt;
			padding: 0;
			width: 100%;
		}

		h3 {
			font-size: 13pt;
			}

		h5 {
			font-size: 13pt;
			text-align: center;
		}

		h6 {
			color: #df4d3c;
			font-size: 12pt;
			text-align: center;
		}

		h7 {
			font-size: 13pt;
		}

		#header {
			border-left: transparent;
			border-right: transparent;
		}

		.content {
			border-left: transparent;
			border-right: transparent;
			padding: 20px;
			}

		nav {
			margin: 0;
		}

		.toggle + a,
		.menu {
			background-color: #ffdc5a;
			color: #df4d3c;
			display: none;
			padding: 4px 8px;
			width: 100%;
		}

		.toggle {
			background-color: #ffdc5a;
			border:none;
			color:#df4d3c;
			display: block;
			font-size:11px;
			padding:4px 8px;
			text-align: left;
			text-decoration:none;
		}

		.toggle:hover {
			background-color: #ffdc5a;
		}

		[id^=drop]:checked + ul {
			background-color: #ffdc5a;
			display: block;
		}

		nav ul li {
			display: block;
			width: 100%;
			}

		nav ul ul .toggle,
		nav ul ul a {
			margin: -2px;
			padding: 0px;
		}

		nav ul ul ul a {
			padding: 0 30px;
		}

		nav a:hover,
		 	nav ul ul ul a {
				background-color: #ffdc5a;
			}

		nav ul li ul li .toggle,
		nav ul ul a,
	  nav ul ul ul a{
			color:#df4d3c;
			font-size:17px;
			padding: 0;
		}


		nav ul li ul li .toggle,
		nav ul ul a {
			background-color: #ffdc5a;
		}

		nav ul ul {
			color: #df4d3c;
			float: none;
			position:static;
		}

		nav ul ul li:hover > ul,
		nav ul li:hover > ul {
			background-color: #ffdc5a
			border-bottom: 2.5px solid #ffdc5a;
			display: none;
		}

		nav ul ul li {
			background-color: #ffdc5a;
			display: block;
			width: 100%;
		}

		nav ul ul ul li {
			position: static;
		}
	}
