body {
	background-color: #ffffff;
	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 0;
	}
/* Gives the page a 1 inch margin when printed. */
@page { margin: 1in; }
hr { width: 100%; color: #000000; background-color: #000000;  margin: 1em auto; }
.infobox, .notes, #copyright { border: 1px solid #efefef; margin: 3%; padding: 5px; }
h1 { margin-top: 5px; font-size: 150%; font-weight: normal; font-style: italic; text-align: center; color: #000000;}
b { font-weight: bold; }
a { font-weight: normal; color: #9C9C9C; text-decoration: none; }
.chaptertitle {
	page-break-before: always;
	page-break-after: avoid;
	font-size: 125%;
	text-align: center;
	text-decoration: underline;
	font-style: italic;
	margin-bottom: 1em;
	}
.title { padding: 1px; border-bottom: 1px; }
.noteinfo { padding: 1px; }
